{% extends "layout.html" %}
{% block content %}

<section id="about-me" class="container bg-white text-center pt-4 pb-2">
  <h2 class="font-weight-bold display-5 mx-auto">About Me</h2>
  <div class="content text-left p-4">
    <p>Hey! I'm <b>Hussein</b>. Coding has changed my world. It's not just about apps. Learning to code gave <span class="font-italic"> me problem-solving skills</span> and a way to communicate with others on a technical level. I can also develop
      websites and use my coding skills to get a better job. And I learned it all at<b> SoloLearn</b> where they build your self-esteem and keep you motivated. Join me in this rewarding journey. You'll have fun, get help, and learn along the way!</p>
  </div>
  <div class="text-end end">
    <p>"Declare variables, not war"</p>
  </div>
</section>
{% endblock content %}
