{% extends "layout.html" %}
{% block content %}

<section id="about-me" class="container bg-white text-center mt-5 pt-4 pb-2">
  <h2 class="font-weight-bold display-5 mx-auto">{{ post.title }}</h2>
  <div class="content text-left p-4">
    {{ post.content }}
  </div>
  <div class="text-start start" style="padding-left:30px;">
    <img style="margin-top: 14px;" class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  </div>
  <div class="text-end end" style="padding-right:30px;">
 <p> <span style=" color:#e74c3c; " >by </span> {{ post.author.username }}</p>
  </div>
  {% if post.author == current_user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id = post.id) }}">Update</a>
        <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Delete
        </button>
      </div>
      {% endif %}
</section>
<div class="container mt-4 p-3 mb-4 bg-body rounded">
  <form method="POST" action="">
    <fieldset class="form-group mt-1 mb-2">
      <legend class="border-bottom mb-4 text-center">Leave a Comment</legend>
      <div class="form-check" style="display: flex">
        <div>
          {{ form.upvote(class="form-check-input") }} {{
          form.upvote.label(class="form-check-label") }}
        </div>
        <div style="margin-left: 50px">
          {{ form.downvote(class="form-check-input") }} {{
          form.downvote.label(class="form-check-label") }}
        </div>
      </div>

      <div class="form-group mt-3 mb-3">
        {{ form.content.label(class="form-control-label") }} {% if
        form.content.errors %} {{ form.content(class="form-control
        form-control-lg is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% else %} {{ form.content(class="form-control form-control-lg") }} {%
        endif %}
      </div>
    </fieldset>
    <div class="form-group mt-3 mb-3">
      {{ form.submit(class="btn btn-outline-primary") }}
    </div>
  </form>
</div>

<div class="container d-flex justify-content-center mt-100 mb-100 p-3 mb-4 bg-body rounded">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Comments</h4>
        </div>
        {% for comment in comments%}
        <div class="comment-widgets m-b-20 p-4">
          <div class="d-flex flex-row comment-row">
            <div class="comment-text w-100">
              <h5>{{comment.user_comments.username}}</h5>
              <div class="comment-footer">
                <span class="date text-muted">{{comment.date_posted.strftime('%d-%m-%Y')}}</span>
              </div>
              <p class="m-b-5 m-t-10">{{comment.content}}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Pitch?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
          <input class="btn btn-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
