{% extends "layout.html" %}
{% from "macro.html" import render_field %}
{% block content %}
<section class="form-body">
  <div class="login">
    <h1>Login</h1>
    <form method="post">
      {{ form.email(class="input-button is-invalid", placeholder="Email") }}
      <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <span> {{ error }}</span>
        {% endfor %}
      </div>
      {{ form.password(class="input-button is-invalid", placeholder="Password") }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span> {{ error }}</span>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-success btn-block btn-large">Login</button>
    </form>
  </div>
</section>

<!-- {% if error %}
<p class=error><strong>Error:</strong> {{ error }}
  {% endif %}
<form method=post>
  <h1>Login</h1>
  <dl>
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
  </dl>
  <p><input type=submit value=Register>
</form> -->

{% endblock content %}
